body{
    height: 1500px;
    background-image: url(bgjs.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
  
    
}

nav{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background: rgba(255, 0, 0, 0);
}
h3{
    text-align: left;


}
#header-wrapper{
    background-image: url("pic10.jpg");
    background-size: cover;
    position: relative;
    padding: 0em 0em 10em 0em;
}
h1{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin-left: center;
    margin-right: center;
    text-align: center;
    
  }

  .modal-content{
    background-image: url(bgjs.jpg);

  }
  h5{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center; 
   
  }
  .modal-body{
    color: white;
}
a1{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

h4{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: center;
    margin-right: center;
    text-align: center;
    
  }
  .card-body1{
    background-image: url(bgjs.jpg);
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.desc{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
}
.gallery{
    margin-left: center;
    margin-right: center;

}





